html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
	background-color: #121212;
	color: #f2f2f2;
	font-family: Helvetica;
	max-width: 100vw;
    height: 100vh;
	margin: 0px;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

button
{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

div
{
    padding: 0;
    margin: 0;
    display: flex;
}

.wrapper
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.row
{
    flex-direction: row;
}

.tile
{
    border: 1px solid #f2f2f2;
    padding: 10px;
}